In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
aux = pd.read_excel("borrar.xlsx")
aux=aux.drop(columns=["Unnamed: 0"])
aux

,GESTION,MES,NANDINA,DESNAN,PAIS,DESPAIS,TNT,KILBRU,KILNET,FINUNI,VALOR
0,2021,1,201300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,589,PERU,34,105621.14,100192.14,100192.14,601843.21
1,2021,1,202300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,215,CHINA,34,1266643.19,1212227.10,1212227.10,5378535.65
2,2021,1,202300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,589,PERU,34,2907.42,2765.42,2765.42,17395.04
3,2021,1,206290000,LOS DEMAS DESPOJOS COMESTIBLES DE ANIMALES DE ...,177,"CONGO, REPUBLICA DEL",34,24440.00,23500.00,23500.00,25525.00
4,2021,1,207120000,CARNE Y DESPOJOS COMESTIBLES DE GALLOS O GALLI...,589,PERU,34,24080.00,24000.00,24000.00,31200.00
...,...,...,...,...,...,...,...,...,...,...,...
96,2021,1,1104190000,GRANOS APLASTADOS O EN COPOS: DE LOS DEMAS CER...,215,CHINA,34,6251.90,6090.00,6090.00,20583.77
97,2021,1,1104190000,GRANOS APLASTADOS O EN COPOS: DE LOS DEMAS CER...,249,ESTADOS UNIDOS,34,22554.80,22226.40,22226.40,58791.00
98,2021,1,1104299000,"LOS DEMAS GRANOS TRABAJADOS (POR EJ: MONDADOS,...",63,ARGENTINA,34,2309.00,2300.00,2300.00,300.00
99,2021,1,1106201000,"HARINA, SEMOLA Y POLVO DE MACA",105,BRASIL,34,1537.50,1500.00,1500.00,2250.00
100,2021,1,1201900000,"LAS DEMAS HABAS (POROTOS, FRIJOLES, FREJOLES) ...",105,BRASIL,18,186000.00,186000.00,186000.00,75330.00

In [3]:
aux1 = aux.loc[:,"GESTION":"TNT"]
aux2 = aux.loc[:,"KILBRU":"VALOR"]
aux2 = aux2.drop(columns=["KILNET","FINUNI"])
aux2["SUMA"]=aux2["KILBRU"]+aux2["VALOR"]
aux2

         KILBRU       VALOR        SUMA
0     105621.14   601843.21   707464.35
1    1266643.19  5378535.65  6645178.84
2       2907.42    17395.04    20302.46
3      24440.00    25525.00    49965.00
4      24080.00    31200.00    55280.00
..          ...         ...         ...
96      6251.90    20583.77    26835.67
97     22554.80    58791.00    81345.80
98      2309.00      300.00     2609.00
99      1537.50     2250.00     3787.50
100   186000.00    75330.00   261330.00

[101 rows x 3 columns]

In [4]:
#esto es para exportar dataframe a excel
#df.to_excel('borrar.xlsx')

In [5]:
# para borrar los Ãºltimos 10 registros por ejemplo. Para borrar los n primeros seria df.tail(-n)
aux3=aux2.head(-10)

In [6]:
# Para concatenar pero al ladito, no debajito. AL LADITO
pd.concat([aux1,aux3],axis=1)

,GESTION,MES,NANDINA,DESNAN,PAIS,DESPAIS,TNT,KILBRU,VALOR,SUMA
0,2021,1,201300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,589,PERU,34,105621.14,601843.21,707464.35
1,2021,1,202300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,215,CHINA,34,1266643.19,5378535.65,6645178.84
2,2021,1,202300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,589,PERU,34,2907.42,17395.04,20302.46
3,2021,1,206290000,LOS DEMAS DESPOJOS COMESTIBLES DE ANIMALES DE ...,177,"CONGO, REPUBLICA DEL",34,24440.00,25525.00,49965.00
4,2021,1,207120000,CARNE Y DESPOJOS COMESTIBLES DE GALLOS O GALLI...,589,PERU,34,24080.00,31200.00,55280.00
...,...,...,...,...,...,...,...,...,...,...
96,2021,1,1104190000,GRANOS APLASTADOS O EN COPOS: DE LOS DEMAS CER...,215,CHINA,34,NaN,NaN,NaN
97,2021,1,1104190000,GRANOS APLASTADOS O EN COPOS: DE LOS DEMAS CER...,249,ESTADOS UNIDOS,34,NaN,NaN,NaN
98,2021,1,1104299000,"LOS DEMAS GRANOS TRABAJADOS (POR EJ: MONDADOS,...",63,ARGENTINA,34,NaN,NaN,NaN
99,2021,1,1106201000,"HARINA, SEMOLA Y POLVO DE MACA",105,BRASIL,34,NaN,NaN,NaN
100,2021,1,1201900000,"LAS DEMAS HABAS (POROTOS, FRIJOLES, FREJOLES) ...",105,BRASIL,18,NaN,NaN,NaN

In [7]:
#esto es para concatenar de bajito. NÃ³tese como lo pone abajo y a un ladito. Cachas?
#abajo y aun ladito. Because no hay columnas con el mismo nombre pe
pd.concat([aux1,aux3])

,GESTION,MES,NANDINA,DESNAN,PAIS,DESPAIS,TNT,KILBRU,VALOR,SUMA
0,2021.0,1.0,201300000.0,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,589.0,PERU,34.0,NaN,NaN,NaN
1,2021.0,1.0,202300000.0,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,215.0,CHINA,34.0,NaN,NaN,NaN
2,2021.0,1.0,202300000.0,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,589.0,PERU,34.0,NaN,NaN,NaN
3,2021.0,1.0,206290000.0,LOS DEMAS DESPOJOS COMESTIBLES DE ANIMALES DE ...,177.0,"CONGO, REPUBLICA DEL",34.0,NaN,NaN,NaN
4,2021.0,1.0,207120000.0,CARNE Y DESPOJOS COMESTIBLES DE GALLOS O GALLI...,589.0,PERU,34.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10207.0,24230.0,34437.0
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21168.0,59625.0,80793.0
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10100.0,24085.0,34185.0
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3019.5,8400.0,11419.5
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2040.0,6400.0,8440.0

In [8]:
# otra forma es JOIN, no se bien todavÃ­a en que se diferencia con el anterior oe.
auxaÃ±adido = DataFrame.join(aux1,aux3)
auxaÃ±adido

,GESTION,MES,NANDINA,DESNAN,PAIS,DESPAIS,TNT,KILBRU,VALOR,SUMA
0,2021,1,201300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,589,PERU,34,105621.14,601843.21,707464.35
1,2021,1,202300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,215,CHINA,34,1266643.19,5378535.65,6645178.84
2,2021,1,202300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,589,PERU,34,2907.42,17395.04,20302.46
3,2021,1,206290000,LOS DEMAS DESPOJOS COMESTIBLES DE ANIMALES DE ...,177,"CONGO, REPUBLICA DEL",34,24440.00,25525.00,49965.00
4,2021,1,207120000,CARNE Y DESPOJOS COMESTIBLES DE GALLOS O GALLI...,589,PERU,34,24080.00,31200.00,55280.00
...,...,...,...,...,...,...,...,...,...,...
96,2021,1,1104190000,GRANOS APLASTADOS O EN COPOS: DE LOS DEMAS CER...,215,CHINA,34,NaN,NaN,NaN
97,2021,1,1104190000,GRANOS APLASTADOS O EN COPOS: DE LOS DEMAS CER...,249,ESTADOS UNIDOS,34,NaN,NaN,NaN
98,2021,1,1104299000,"LOS DEMAS GRANOS TRABAJADOS (POR EJ: MONDADOS,...",63,ARGENTINA,34,NaN,NaN,NaN
99,2021,1,1106201000,"HARINA, SEMOLA Y POLVO DE MACA",105,BRASIL,34,NaN,NaN,NaN
100,2021,1,1201900000,"LAS DEMAS HABAS (POROTOS, FRIJOLES, FREJOLES) ...",105,BRASIL,18,NaN,NaN,NaN

In [15]:
# Este otro es para aÃ±adir registros abajo del DataFrame y que reindexe todo. 
# Con el False, mantiene el indexado original
aÃ±adidoplus=auxaÃ±adido.append(auxaÃ±adido, ignore_index=True)
aÃ±adidoplus

,GESTION,MES,NANDINA,DESNAN,PAIS,DESPAIS,TNT,KILBRU,VALOR,SUMA
0,2021,1,201300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,589,PERU,34,105621.14,601843.21,707464.35
1,2021,1,202300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,215,CHINA,34,1266643.19,5378535.65,6645178.84
2,2021,1,202300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,589,PERU,34,2907.42,17395.04,20302.46
3,2021,1,206290000,LOS DEMAS DESPOJOS COMESTIBLES DE ANIMALES DE ...,177,"CONGO, REPUBLICA DEL",34,24440.00,25525.00,49965.00
4,2021,1,207120000,CARNE Y DESPOJOS COMESTIBLES DE GALLOS O GALLI...,589,PERU,34,24080.00,31200.00,55280.00
...,...,...,...,...,...,...,...,...,...,...
197,2021,1,1104190000,GRANOS APLASTADOS O EN COPOS: DE LOS DEMAS CER...,215,CHINA,34,NaN,NaN,NaN
198,2021,1,1104190000,GRANOS APLASTADOS O EN COPOS: DE LOS DEMAS CER...,249,ESTADOS UNIDOS,34,NaN,NaN,NaN
199,2021,1,1104299000,"LOS DEMAS GRANOS TRABAJADOS (POR EJ: MONDADOS,...",63,ARGENTINA,34,NaN,NaN,NaN
200,2021,1,1106201000,"HARINA, SEMOLA Y POLVO DE MACA",105,BRASIL,34,NaN,NaN,NaN
201,2021,1,1201900000,"LAS DEMAS HABAS (POROTOS, FRIJOLES, FREJOLES) ...",105,BRASIL,18,NaN,NaN,NaN

###  Para ordenas datos

In [24]:
aÃ±adidoplus.sort_values(by="SUMA", ascending=False)

,GESTION,MES,NANDINA,DESNAN,PAIS,DESPAIS,TNT,KILBRU,VALOR,SUMA
46,2021,1,803901100,BANANAS FRESCAS TIPO CAVENDISH VALERY,63,ARGENTINA,34,15668151.00,5101650.00,20769801.00
147,2021,1,803901100,BANANAS FRESCAS TIPO CAVENDISH VALERY,63,ARGENTINA,34,15668151.00,5101650.00,20769801.00
102,2021,1,202300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,215,CHINA,34,1266643.19,5378535.65,6645178.84
1,2021,1,202300000,CARNE DESHUESADA DE ANIMALES DE LA ESPECIE BOV...,215,CHINA,34,1266643.19,5378535.65,6645178.84
183,2021,1,1008509000,LAS DEMAS QUINUAS (QUINOA) (CHENOPODIUM QUINOA),249,ESTADOS UNIDOS,34,1134133.40,2555518.41,3689651.81
...,...,...,...,...,...,...,...,...,...,...
197,2021,1,1104190000,GRANOS APLASTADOS O EN COPOS: DE LOS DEMAS CER...,215,CHINA,34,NaN,NaN,NaN
198,2021,1,1104190000,GRANOS APLASTADOS O EN COPOS: DE LOS DEMAS CER...,249,ESTADOS UNIDOS,34,NaN,NaN,NaN
199,2021,1,1104299000,"LOS DEMAS GRANOS TRABAJADOS (POR EJ: MONDADOS,...",63,ARGENTINA,34,NaN,NaN,NaN
200,2021,1,1106201000,"HARINA, SEMOLA Y POLVO DE MACA",105,BRASIL,34,NaN,NaN,NaN
201,2021,1,1201900000,"LAS DEMAS HABAS (POROTOS, FRIJOLES, FREJOLES) ...",105,BRASIL,18,NaN,NaN,NaN