In [39]:
import numpy as np
import pandas as pd

#import urllib.request

import sklearn
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn.metrics import accuracy_score

# Import LabelEncoder
from sklearn import preprocessing

In [40]:
dataset = pd.read_csv('Fertility1.csv', sep=";")

In [41]:
dataset.head()

,season,age,Ch_Disease,Accident,Surg_Int,H_Fever,Alcohol_Cons,Smoke,N_Hours,Diag
0,Summer,32,No,Yes,Yes,Greater th 3m,Hardly ever or never,Daily,1,Normal
1,Fall,32,No,No,No,Greater th 3m,Several times a week,Occasional,2,Normal
2,Winter,30,Yes,No,No,Greater th 3m,Several times a week,Never,3,Normal
3,Spring,31,No,No,No,Greater th 3m,Several times a week,Never,3,Normal
4,Spring,30,No,Yes,No,Greater th 3m,Once a week,Never,3,Normal

In [42]:
dataset.shape

(100, 10)

In [43]:
dataset.head()

,season,age,Ch_Disease,Accident,Surg_Int,H_Fever,Alcohol_Cons,Smoke,N_Hours,Diag
0,Summer,32,No,Yes,Yes,Greater th 3m,Hardly ever or never,Daily,1,Normal
1,Fall,32,No,No,No,Greater th 3m,Several times a week,Occasional,2,Normal
2,Winter,30,Yes,No,No,Greater th 3m,Several times a week,Never,3,Normal
3,Spring,31,No,No,No,Greater th 3m,Several times a week,Never,3,Normal
4,Spring,30,No,Yes,No,Greater th 3m,Once a week,Never,3,Normal

In [44]:
#labelEncoder
le = preprocessing.LabelEncoder()

# Converting string labels into numbers.
dataset['season_cd']=le.fit_transform(dataset.loc[:, 'season'])
dataset['Ch_Disease_cd']=le.fit_transform(dataset.loc[:, 'Ch_Disease'])
dataset['Accident_cd']=le.fit_transform(dataset.loc[:, 'Accident'])
dataset['Surg_Int_cd']=le.fit_transform(dataset.loc[:, 'Surg_Int'])
dataset['H_Fever_cd']=le.fit_transform(dataset.loc[:, 'H_Fever'])
dataset['Alcohol_Cons_cd']=le.fit_transform(dataset.loc[:, 'Alcohol_Cons'])
dataset['Smoke_cd']=le.fit_transform(dataset.loc[:, 'Smoke'])

In [45]:
dataset.head()

,season,age,Ch_Disease,Accident,Surg_Int,H_Fever,Alcohol_Cons,Smoke,N_Hours,Diag,season_cd,Ch_Disease_cd,Accident_cd,Surg_Int_cd,H_Fever_cd,Alcohol_Cons_cd,Smoke_cd
0,Summer,32,No,Yes,Yes,Greater th 3m,Hardly ever or never,Daily,1,Normal,2,0,1,1,0,1,0
1,Fall,32,No,No,No,Greater th 3m,Several times a week,Occasional,2,Normal,0,0,0,0,0,4,2
2,Winter,30,Yes,No,No,Greater th 3m,Several times a week,Never,3,Normal,3,1,0,0,0,4,1
3,Spring,31,No,No,No,Greater th 3m,Several times a week,Never,3,Normal,1,0,0,0,0,4,1
4,Spring,30,No,Yes,No,Greater th 3m,Once a week,Never,3,Normal,1,0,1,0,0,2,1

In [46]:
dataset = dataset.drop(['season', 'Ch_Disease', 'Accident', 'Surg_Int', 'H_Fever', 'Alcohol_Cons', 'Smoke'], axis=1)

In [47]:
dataset.head()

,age,N_Hours,Diag,season_cd,Ch_Disease_cd,Accident_cd,Surg_Int_cd,H_Fever_cd,Alcohol_Cons_cd,Smoke_cd
0,32,1,Normal,2,0,1,1,0,1,0
1,32,2,Normal,0,0,0,0,0,4,2
2,30,3,Normal,3,1,0,0,0,4,1
3,31,3,Normal,1,0,0,0,0,4,1
4,30,3,Normal,1,0,1,0,0,2,1

In [48]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              100 non-null    int64
 1   N_Hours          100 non-null    int64
 2   Diag             100 non-null    object
 3   season_cd        100 non-null    int64
 4   Ch_Disease_cd    100 non-null    int64
 5   Accident_cd      100 non-null    int64
 6   Surg_Int_cd      100 non-null    int64
 7   H_Fever_cd       100 non-null    int64
 8   Alcohol_Cons_cd  100 non-null    int64
 9   Smoke_cd         100 non-null    int64
dtypes: int64(9), object(1)
memory usage: 7.9+ KB

In [49]:
X = dataset.loc[:, dataset.columns != 'Diag']
y = dataset.loc[:, dataset.columns == 'Diag']

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0, stratify=y)

In [51]:
y

       Diag
0    Normal
1    Normal
2    Normal
3    Normal
4    Normal
..      ...
95  Altered
96  Altered
97  Altered
98  Altered
99  Altered

[100 rows x 1 columns]

In [52]:
BernNB = BernoulliNB(binarize = 0.1)
BernNB.fit(X_train, y_train)
print(BernNB)

BernoulliNB(binarize=0.1)

/Users/ofigue/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [53]:
y_expect = y_test
y_pred = BernNB.predict(X_test)
print(accuracy_score(y_expect, y_pred))

0.8666666666666667

In [54]:
MultiNB = MultinomialNB()
MultiNB.fit(X_train, y_train)
print(MultiNB)
y_pred = MultiNB.predict(X_test)
print(accuracy_score(y_expect, y_pred))

MultinomialNB()
0.8666666666666667

/Users/ofigue/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [55]:
GaussNB = GaussianNB()
GaussNB.fit(X_train, y_train)
print(GaussNB)
y_pred = GaussNB.predict(X_test)
print(accuracy_score(y_expect, y_pred))

GaussianNB()
0.9

/Users/ofigue/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [56]:
type(y_pred)

numpy.ndarray